<header class="header">
  <div class="header__inner container">
    <a class="logo" href="index.html"><img src="images/logo.png" alt="DIGITAL RAZOR"></a>
    <button class="js-menu-opener menu-opener" type="button" title="Меню"><span></span></button>
    <div class="main-menu-block">
      <ul class="main-menu">
        <li class="main-menu__item root">
          <a class="main-menu__link root-link" href="#">
            <span class="main-menu__link-text">Игровые компьютеры</span>
          </a>
          <div class="main-menu__dropdown">
            <p class="main-menu__dropdown-title">ИГРОВЫЕ СЕРИИ</p>
            <a class="main-menu__dropdown-link" href="#">ProGaming - серия</a>
            <a class="main-menu__dropdown-link" href="#">Performance - серия</a>
            <a class="main-menu__dropdown-link" href="#">Performance X - серия</a>
            <p class="main-menu__dropdown-title">СПЕЦИАЛЬНЫЕ СЕРИИ</p>
            <a class="main-menu__dropdown-link" href="#">Powered by ASUS</a>
            <a class="main-menu__dropdown-link" href="#">Powered by AMD</a>
          </div>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#"><span class="main-menu__link-text">Рабочие станции</span></a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#"><span class="main-menu__link-text">Моноблоки</span></a>
        </li>
      </ul>
      <a class="header__design-button" href="#">Свой дизайн</a>
      <a class="cart-icon" href="#" title="Корзина">
        <span class="cart-icon__qnt">0</span>
        <svg class="cart-icon__icon" aria-hidden="true">
          <use xlink:href="#cart" />
        </svg>
      </a>
    </div>
  </div>
</header>